/*********************
    - 2. General -
*********************/

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-family: sans-serif;
}

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  @include dis(middle);
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  border: none;
}

.container {
  margin: 0px auto;
  width: 1170px;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear-fix,
.clearfix {
  clear: both;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}