aside.nav {
  color: rgba(0, 0, 0, 0.63);
  line-height: 28px;
  font-weight: normal;
  position: fixed;
  top: 0;
  transition: 0.3;
  left: 0;
  bottom: 0;
  opacity: 1;
  overflow: hidden;
  background: #d9d9d9;
  background-image: url(images/barsmenuicon.png);
  background-position: 14px 36px;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 268px;
  user-select: none;

  .createnew {
    margin-bottom: 40px;
  }

  .icon-right {
    float: right;
    opacity: 0.5;

    &:hover {
      cursor: pointer;
    }

    img {
      vertical-align: middle;
    }
  }

  a {
    text-decoration: none;
  }

  .feedlyTabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 51px;
    background: #d9d9d9;
    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity 150ms linear;
    padding-bottom: 40px;

    .marker {
      float: right;
      border-radius: 2px;
      font-size: 10px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 2px 8px;
      line-height: 14px;
      margin-top: 4px;
      margin-bottom: 7px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.35);

      &:hover {
        color: rgba(0, 0, 0, 0.7);
        border-color: rgba(0, 0, 0, 0.3);
      }
    }

    .marker-new {
      padding: 3px 5px 1px 5px;
      margin-left: 5px;
      margin-top: 4px;
      color: rgba(0, 0, 0, 0.7);
      border-color: rgba(0, 0, 0, 0.3);
    }

    .icon {
      width: 28px;
      height: 28px;
      text-align: center;
      float: left;
      margin-right: 4px;

      img {
        vertical-align: middle;
      }
    }

    .aside-header {
      margin-top: 24px;
      text-transform: uppercase;
      font-size: 11px;
      opacity: 0.7;
    }

    .label-right {
      width: 24px;
      text-align: right;
      height: 28px;
      line-height: 28px;
      opacity: 1;
      cursor: pointer;
      font-size: 10px;
      font-weight: normal;
      float: right;
      padding-right: 3px;
      padding-left: 0px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.45);
    }

    .nonEmpty {
      font-weight: bold;
    }

    .tree-icon {
      width: 16px;
      height: 16px;
      margin: 6px;

      img {
        vertical-align: top;
        border-radius: 3px;
        opacity: 1;
      }
    }

    & > li {
      padding-right: 23px;
      padding-left: 17px;

      a {
        max-width: 196px;
        width: 100%;
        display: inline-block;
      }

      .icon {
        opacity: 0.3;
        transition: 0.3s;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    .tree li {
      font-size: 13px;
      line-height: 28px;
      max-height: 28px;
      padding-right: 23px;
      padding-left: 43px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    li:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    li.feedlyTabsPin-wrap:hover {
      background-color: transparent;
    }
  }

  .btn-addcontent {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    border: none;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.07);

    &:hover {
      cursor: pointer;
    }

    .btn-icon {
      display: inline-block;
      opacity: 0.3;
      width: 28px;
      height: 51px;
      line-height: 57px;
      vertical-align: middle;
      margin-right: 4px;
    }
  }

  ul.tree {
    display: none;
  }

  .rotate-icon {
    transform: rotate(90deg);
  }
}

aside.nav.unpin {
  .feedlyTabsUnPin {
    display: none;
  }

  .feedlyTabsPin {
    display: block;
  }
}

aside.nav.pin {
  .feedlyTabsUnPin {
    display: block;
  }

  .feedlyTabsPin {
    display: none;
  }
}

.hide:hover {
  cursor: pointer;
}
