mixin sidebar()
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +sidebar()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  aside.sidebar.sidebar-wrap.nav.unpin
    ul.feedlyTabs
      li.feedlyTabsPin-wrap
        span.marker.feedlyTabsPin Pin
        span.marker.feedlyTabsUnPin Unpin
        .clearfix
      li
        .icon
          img(src="images/read_icon.svg", alt="")
        a(href="#")
          span.nonEmpty Today
      li.hv
        .icon
          img(src="images/flag_icon.svg", alt="")
        a(href="#")
          span.nonEmpty Read later
      li
        .icon
          img(src="images/filter_icon.svg", alt="")
        a(href="#")
          span.marker.marker-new NEW
          span.nonEmpty Filters
      li.aside-header
        span FEEDS
        span.icon-right
          img(src="images/gear_.svg", alt="")
      li
        .icon
          img(src="images/bars_icon.svg", alt="")
        a(href="#")
          span.label-right 1
          span.nonEmpty All
      li.tree-menu
        .icon
          img(src="images/arrowright_icon.svg", alt="")
        a(href="#")
          span Frontend webapps
      ul.tree
        li
          .icon.tree-icon
            img(src="images/html5_icon.png", alt="")
          a(href="#")
            span HTML5 Doctor
        li
          .icon.tree-icon
            img(src="images/html5rocks_icon.png", alt="")
          a(href="#")
            span HTML5 Rocks
      li.tree-menu
        .icon
          img(src="images/arrowright_icon.svg", alt="")
        a(href="#")
          span.label-right 1
          span.nonEmpty Javascript
      ul.tree
        li
          .icon.tree-icon
            img(src="images/react_icon.png", alt="")
          a(href="#")
            span.label-right 1
            span React
      li.createnew
        .icon
        a(href="")
          span Create New Feed
      li.aside-header
        span BOARDS
      li.createnew
        .icon
        a(href="")
          span Create New Board
      li
        .icon
          img(src="images/integrations_icon.svg", alt="")
        a(href="#")
          span Intergrations
      li
        .icon
          img(src="images/collection_icon.svg", alt="")
        a(href="#")
          span Share collections
      li
        .icon
          img(src="images/support_icon.svg", alt="")
        a(href="#")
          span Support
      li
        a(href="#")
          span Recently Read
    button.btn-addcontent
      .btn-icon
        img(src="images/add_icon.svg", alt="")
      span add content
  //.sidebar-wrap
