.item-wrap {
  margin-bottom: 50px;
  h4 {
    margin: 0;
    font-weight: 300;
    margin-top: -10px;
  }
  .item__popup p {
    color: #bbb;
    font-size: 14px;
    padding: 0 15px;
  }
}

.item__info {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  i {
    margin-right: 10px;
    font-size: 13px;
  }
  span {
    font-size: 12px;
    margin: 0 15px;
    color: #bbb;
  }
}

/* custom */

.item-wrap {
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 0 7px 2px #ccc;
  }
}

.item--top {
  position: relative;
}

.item__img-title {
  position: absolute;
  width: 100%;
  top: 15px;
  left: 15px;
}

.item__popup button {
  i {
    font-size: 16px;
    margin-right: 10px;
  }
  cursor: pointer;
  float: left;
  height: 35px;
  line-height: 34px;
  width: 130px;
  border-radius: 15px;
  background-color: yellow;
  vertical-align: middle;
  border: none;
  color: #fff;
  font-size: 13px;
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-wrap:hover .item__img-gradient {
  opacity: 0.8;
}

.item__img-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all .3s;
  background: #000;
  background: linear-gradient(to bottom, #000 0%, #000 0%, #131313 0%, #000 0%, #000 0%, #666 0%, #111 0%, #2c2c2c 0%, #111 0%, #1c1c1c 0%, #2b2b2b 0%, transparent 100%, #4c4c4c 100%);
}

.item__avatar, .item__avatar-description {
  display: inline-block;
}

.item__avatar {
  max-width: 32px;
  border-radius: 100%;
  overflow: hidden;
}

.item__avatar-description p {
  font-size: 12px;
  margin: 0;
  line-height: 20px;
  color: #fff;
  vertical-align: top;
  &:last-child {
    font-size: 11px;
  }
}

.item__popup {
  box-shadow: 0 0 7px 2px #ccc;
  text-align: center;
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  top: calc(100% + 5px);
  left: 0;
  border-radius: 3px;
  &::after {
    display: block;
    content: "";
    border-bottom: 8px solid #fff;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    z-index: 9;
    top: -8px;
    left: 8px;
    position: absolute;
  }
}

.item__avatar-room {
  max-width: 62px;
  transform: translate(0, -15px);
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  border-radius: 100%;
}

.item__img-title:hover .item__popup {
  display: block;
}

.item__stream {
  line-height: 0;
  img {
    max-width: 10px;
  }
}

.item--bot {
  padding: 15px 20px;
  background: #fff;
}

.item__stream span {
  text-transform: uppercase;
  color: #a7a7a7;
  font-size: 10px;
}

.item__title {
  font-size: 21px;
  margin-top: 6px;
  max-width: 86%;
  line-height: 1.3;
}

.item--bot p {
  font-size: 14px;
}

.tag {
  font-size: 12px;
  color: #ccc;
  font-weight: 100;
  margin-top: 80px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.icon-hand {
  padding-top: 10px;
  font-size: 11px;
  color: #ccc;
  position: relative;
  float: left;
}

.fleft:after {
  content: "";
  display: block;
  clear: both;
}

.icon-hand__popup {
  display: inline-block;
  position: absolute;
  background: #222;
  padding: 5px 10px;
  border-radius: 5px;
  left: 10px;
  top: calc(100% + 10px);
  transform: translate(-50%, 0);
  width: 120px;
  text-align: center;
  display: none;
  color: #fff;
  &::after {
    position: absolute;
    content: "";
    border-bottom: 6px solid #222;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    z-index: 9;
    top: -6px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.icon-hand i {
  font-size: 15px;
  vertical-align: top;
  &:hover + .icon-hand__popup {
    display: block;
  }
}

.click {
  position: relative;
}

.tool-social {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  right: 0;
}

.partner {
  float: left;
}

.list-inline {
  list-style: none;
  text-align: right;
  margin: 0;
  padding-top: 5px;
  li {
    display: inline-block;
    height: 22px;
    width: 22px;
    background-color: #ccc;
    text-align: center;
    border-radius: 3px;
    transition: all .3s;
    position: relative;
    i {
      font-size: 10px;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 16px;
      color: #fff;
    }
    > ul {
      position: absolute;
      width: 0;
      top: 0;
      right: calc(100% - 22px);
      padding: 0;
      margin: 0;
      height: 100%;
      overflow: hidden;
      li {
        vertical-align: top;
        width: 0;
      }
    }
    &:first-child {
      &:hover {
        background-color: #3eb991;
        ul {
          width: 120px;
        }
      }
      ul:hover {
        width: 120px;
      }
      &:hover li {
        width: 22px;
      }
      li:hover {
        background-color: #3eb991;
      }
    }
  }
  > li {
    width: 0;
  }
}

.root-nav > li:last-child {
  width: 22px !important;
}

.item-wrap:hover .root-nav > li {
  width: 22px;
  &:nth-child(3) {
    background-color: pink;
  }
  &:nth-child(2) {
    background-color: yellow;
  }
}

.icon-hand:nth-child(2) {
  margin-left: 15px;
}

.item-wrap:hover .icon-hand {
  color: #222;
}

.partner {
  position: relative;
  > img {
    position: relative;
    z-index: 10;
    max-width: 24px;
    border-radius: 100%;
    margin-left: 15px;
    transform: translate(0, 5px) scale(0);
    transition: all .3s;
  }
}

.item-wrap:hover .partner > img {
  transform: translate(0, 5px) scale(1);
}

.partner {
  .partner__profile {
    z-index: 11;
    min-width: 328px;
    top: calc(100% + 14px);
    left: 12px;
  }
  img:hover + .partner__profile,
  .partner__profile:hover {
    display: block;
  }
}
