mixin post(data)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +post()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?
  .col-sm-3
    .item-wrap
      .item--top
        .item__img
          img(src='https://d1nny150p2r6y5.cloudfront.net/z5bbc522e344d4.jpg', alt='')
        .item__img-gradient
        .item__img-title
          .item__popup
            .item__avatar-room
              img(src='https://d1jwz71iwftagm.cloudfront.net/U_2hAC3JJ0z2/rz5b982107a9431.jpeg', alt='')
            h4 Maria Toft
            p Demand Generation / Growth Marketing at Falcon.io
            .item__info
              span
                i.fa.fa-slack
                | 6 Suggestions
              span
                i.fa.fa-bookmark
                | 32 Saved Zests
            button
              i.fa.fa-eye
              | View profile
          .item__avatar
            img(src='https://d1jwz71iwftagm.cloudfront.net/U_2hAC3JJ0z2/rz5b982107a9431.jpeg', alt='')
          .item__avatar-description
            p Amy Schemenauer Amy Schemenauer
            p Oct 09 2018
      .item--bot
        .item__stream
          img(src='https://www.google.com/s2/favicons?domain_url=https://www.shortstack.com', alt='')
          span.item__stream-text shortstack.com
        h3.item__title Start Your Holiday Interactive Marketing Campaigns NOW: 7 ideas
        p
          | I got my first Halloween email today so you know what that means! Even though it’s still back-to-school “season” it’s time to get your holiday marketing...
        .tag
          span Tag:
          a(href='#')
            span Social
        .click
          .fleft
            .icon-hand
              i.fa.fa-hand-o-up
              .icon-hand__popup 2 clicks so far
              span.count-hand-click 2
            .icon-hand
              i.fa.fa-bookmark
              .icon-hand__popup 6 clicks so far
              span.count-hand-click 6
            .partner
              img(src='https://d1jwz71iwftagm.cloudfront.net/U_XB8ZXDg64a/rz5b8ed052f3e62.jpeg', alt='')
              .item__popup.partner__profile
                .item__avatar-room
                  img(src='https://d1jwz71iwftagm.cloudfront.net/U_2hAC3JJ0z2/rz5b982107a9431.jpeg', alt='')
                h4 Maria Toft
                p Demand Generation / Growth Marketing at Falcon.io
                .item__info
                  span
                    i.fa.fa-bookmark
                    | 32 Saved Zests
                button
                  i.fa.fa-eye
                  | View profile
          .tool-social
            ul.list-inline.root-nav
              li
                a(href='#')
                  i.fa.fa-slack
                ul.list-inline
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-slack
              li
                a(href='#')
                  i.fa.fa-slack
              li
                a(href='#')
                  i.fa.fa-slack
          //.tool-social
          .clearfix
  //.post-wrap
