@import "./includes/func";
@import './includes/info';
@import './includes/fonts';
@import './includes/base';
@import "./components";
// Content
main#content{
  padding-left: 268px;
  padding-top: 15px;
  transition: 0.2s;
  &.active{
    padding-left: 51px;
    .col-sm-3{
      max-width: 25%;
      flex: 0 0 25%;
    }
  }
}
.item-wrap{
  border: 1px solid  #eee;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  font-size: 0;
  background-color: #fff;
  right: 0;
  display: none;
  i{
    height: 1px;
    width: 100%;
    background-color: #534e55;
    display: block;
    margin-bottom: 5px;
    &:last-child{
      margin: 0;
    }
  }
}
.mobile-menu-curtain{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,.45);
  z-index: 1;
}
#icon-sidebar{
  cursor: pointer;
  padding: 13px 25px;
  display: inline-block;
  border-right: 1px solid #efefef;
}
.bar{
  // border: 1px solid #9c969e;
  width: 32px;
  padding: 6px;
}
.item__img{
  height: 160px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
  }
}
.tag{
  margin-top: 0;
}
.item--bot p{
  &::after{
    content: "...";
  }
}
@media screen and(max-width:1700px){
  main#content{
    .col-sm-3{
      max-width: 33.333%;
      flex: 0 0 33.333%;
    }
    &.active{
      .col-sm-3{
        max-width: 33.3333%;
        flex: 0 0 33.333%;
      }
    }
  }
}
@media screen and(max-width:1365px){
  main#content{
    .col-sm-3{
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
@media screen and(max-width:1199px){
  main#content{
    &.active{
      .col-sm-3{
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}
@media screen and(max-width:940px){
  main#content{
    .col-sm-3{
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
@media screen and(max-width:768px){
  .header{
    display: block;
  }
  aside.nav{
    z-index: 10;
    top: 51px;
    left: -268px;
    transition: all 0.2s;
    &.active{
      left: 0;
    }
  }
  main#content{
    padding-top: 66px;
    padding-left: 0;
    background-color: #eee;
    .col-sm-3{
      max-width: 50%;
      flex: 0 0 50%;
    }
    
  }
}
@media screen and(max-width:500px){
  .header{
    display: block;
  }
  aside.nav{
    z-index: 10;
    top: 51px;
    left: -268px;
    transition: all 0.2s;
    &.active{
      left: 0;
    }
  }
  main#content{
    .col-sm-3{
      max-width: 100%;
      flex: 0 0 100%;
    }
    
  }
}