include ../_partials/mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
      title=base.title
      meta(charset="utf-8")
      meta(name="description" content=base.description)
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, user-scalable=no")
      meta(name="keywords", content=base.keywords)
      meta(name="author", content=base.author)
      // Styles
      link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css")
      link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
      link(rel="stylesheet" type="text/css" href="style.css")
  body
    #wrapper
      header.header
        #icon-sidebar
          .bar
            i
            i
            i
      .mobile-menu-curtain
      +sidebar()
      block content
    //#wrapper
    //JS
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    script(src="js/core.js")

