mixin slider(title, mods)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +slider()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .slider.slider-wrap
    .container
      h1 abc
  //.slider-wrap
